<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.name}}" />
    <title>{{site.name}}</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/theme/css/style.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>

<body>

<div id="antifooter">

<!-- HEADER -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--[if lte IE 9]><blockquote>IE? Seriously? Doh!</blockquote><![endif]-->
            <a class="navbar-brand" href="{{site.baseurl}}/index.html">{{site.name}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="github-banner" href="{{site.repository_url}}">View on GitHub</a></li>
            </ul>
        </div>
    </div>
</div>