html,
body {
    height: 100%;
}

#antifooter {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#antifooter > .container {
    padding: 60px 10px 0;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

#footer > .container {
    padding: 20px 10px 0 10px;
}

.navbar {
    font-weight: 700;
}

#github-banner {
    padding-right: 60px;
    /* color: #fff; */
    background: url('../images/blacktocat.png') no-repeat 90% 50%;
}

a {
    color: #3498db;
}

a:hover,
a:focus {
    color: #3498db !important;
}

h1, h2, h3 {
    font-weight: 800;
}

pre {
    color: #333;
    /* background-color: #fff; */
}